// html {width: 500px;}

body { 
    width: 100%; 
    margin: 0px;
    padding:0px;
    /*background-image: url('images/logo-the-coffee.png');
    background-repeat: no-repeat;
    background-position: center top;*/
}
header { 
    position: static;
    text-align: center;
    font-size: 25px;
    margin-bottom: 25px;
    width: 100%; 
    height: 30px;
/*    transition: top 0.2s ease-in-out;
*/}
footer { 
    position: static; 
    text-align: center;
    font-size: 10px;
    border-top-style: ridge;
    top: 10px; 
    left: 10 width: 100%; 
    height: 30px; 
    transition: top 0.2s ease-in-out;
}
article {
    margin-top: 10px;
    margin-bottom: 10px;
}

.container {
    display: flex;
    flex-direction: row;
}
.inner {
/*    flex-grow: 1;*/
}
.inner:nth-child(1) {
    flex-basis: 250px;
    border-right: 1px groove;
}
p {
    margin: 0
}
div.btnbox {
    text-align: center;
    vertical-align: middle;
    margin: 2px;
}
a {
    text-decoration: none;
}
h3 {
  margin-bottom: 0;
}
td.amount {
/*  text-align: right;*/
}
img {margin: 5px}

.titleWrapper {
  display: grid;
  grid-template-columns: auto 110px
}
.oneOneWrapper {
  display: grid;
  grid-template-columns: auto auto
}

.mainbtn {
    box-sizing: padding-box;
    width: 110px;
    height: 110px;
    border: none;
    border-radius: 8px;
    background: #ddd;
    cursor: pointer;
    margin:5px;
}
.mainbtn:hover {
    background: #0b7dda;
    color: white;
}
.tablebtn {
    box-sizing: padding-box;
    width: 65px;
    height: 65px;
    text-align: center;
//    border: #ddd;
    border-radius: 4px;
    background: #ddd;
    padding: 0;
    margin:3px;
}
.tablebtn:hover {
//    background: #acace3;
    border-color: tomato;
}
.occupiedbtn {
background: #6080b5;
color: white;
!}
.sbtn {
  box-sizing: padding-box;
  width: 85px;
  height: 50px;
  background-color: #555555; /* Black */
  border: none;
  color: white;
  margin-bottom: 10px
  text-align: center;
  word-break: keep-all;
}
.sbtn:hover {
  cursor: pointer;
}
.btnok {background-color: #008CBA;} /* Blue */
.btnok:disabled {
    cursor: not-allowed;
    opacity: 0.3;
}
.btnno {background-color: #f44336;} /* Red */ 
.btnedit {background-color: #00b300;} /* Black */
.btncontinue {background-color: #555555;} /* Black */
.btncontinue:disabled {
    cursor: not-allowed;
    opacity: 0.3;
}
.btnccl {
  height: 85px;
  border-radius: 50%;
  margin-top: 10px
}
.billbtn {
  cursor: pointer;
  border: none;
  background-color: none;
}
table {
    width: 100%;
    align-content: center;
}
.btndel:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}
select {
    padding: 15px 5px;
    margin-bottom: 2px;
}
input[type="number" i] {
    box-sizing: padding-box;
    width: 100px;
    height: 50px;
    font-size: 3em;
}
input[type="checkbox"], input[type="radio"] {
    box-sizing: padding-box;
    width: 50px;
    height: 50px;
    vertical-align: middle;
}
input[type="date"] {
    box-sizing: padding-box;
    font-size: 3em;
}
div.title{
  text-align: center;
}
div.dc{
  display: inline-block;
  width: 140px;
  height: 140px;
  float: left;
  padding: 10px;
  vertical-align: middle;
  
  border:1px solid #df0909; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
  background-color: #f62b2b; background-image: -webkit-gradient(linear, left top, left bottom, from(#f62b2b), to(#d20202));
  background-image: -webkit-linear-gradient(top, #f62b2b, #d20202);
  background-image: linear-gradient(to bottom, #f62b2b, #d20202);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f62b2b, endColorstr=#d20202);
}
.hbutton {
  display: block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: white;
  text-align: center;
  font-size: 20px;
  padding: 5px;
  width: 100%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0;
}
.hibutton {
  background-color: teal;
}
.hdibutton {
  background-color: black;
}
/*.hbutton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
*/
/*.hbutton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.hbutton:hover span {
  padding-right: 25px;
}
.hbutton:hover span:after {
  opacity: 1;
  right: 0;
}
*/
fieldset {
  margin-top: 10px;
  margin-bottom: 10px
}

button.btnmanager {
    border-radius: 4px;
    background: white; 
    color: black; 
    border: 2px solid #f44336;
    margin:5px ;
    padding: 5px
}

button.btnmanager:hover {
    background-color: #f44336;
    color: white;
}

button.btntbl {
    border-radius: 2px;
    border: 1px solid blue;
    margin:5px ;
}

div.center {
  display: inline-block;
}


ul {
  list-style-type: none;
  background-color; #ccc;
  width: 25%
  padding: 0;
  margin: 0;
  position: fixed;
  height: 100%
  overflow: auto;
}

li a {
  text-decoration: none;
  display: block;
  color: #000;
  padding: 8px 15px upx 15px
  font-weight: bold;
}

li a.job {
  background-color: tomato;
  color: #fff;
}

li a:hover:not(.job){
  background-color: #333;
    color: #fff;
}